.footerGrid {
  padding: 56px 0 !important;
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];

  > :not(.full-width) {
    grid-column: content;
  }

  .footerBox {
    background-color: #1d1d1b !important;
    border-radius: 2rem !important;
    position: relative !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;

    .footerBoxSocialDetails {
      padding-top: 106px;
      position: relative;

      .footerBoxSocialMediaBox {
        gap: 14px;

        .footerBoxSocialMedia {
          color: #fff !important;
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 14px;
        }
      }
    }

    .footerBoxLinkBox {
      gap: 16px;
      position: relative;

      .footerBoxLink {
        font-weight: 700;
        color: #fff;
        font-size: 18px !important;
      }
    }
  }

  .footerBox * {
    color: #ffffff !important;
  }
}
