.footerGrid {
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}
.footerGrid > :not(.full-width) {
  grid-column: content;
}

.footerBox {
  margin-top: 4rem; /* remove later */

  background-color: #1d1d1b !important;
  border-radius: 2rem !important;
  padding: 4.25rem 3.5rem;
  position: relative !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}

.footerBox > * {
  color: #ffffff !important;
}

.footerLogoBox {
  background-color: #ffffff !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 1.25rem 3.5rem;
  border-bottom-right-radius: 2rem !important;
}
