.newsletter-wrapper {
  position: relative;

  &--divider {
    position: absolute !important;
    top: 48px;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    height: auto !important;
    width: 1px !important;
    background-color: white !important;
  }

  .newsletter-copy {
    border-right: 1px solid #4b5277;
  }
}
