.navigationGrid {
  --padding-inline: 3.5rem;
  --content-max-width: 98rem;

  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  display: grid !important;
  z-index: 2;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];

  > :not(.full-width) {
    grid-column: content;
  }

  .navigationGridAnimatedBackground {
    background-color: #f9fafb;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .navigationLinksDesktop {
    display: flex;
    gap: 8px;

    > a {
      padding: 12px 16px;
      border-radius: 8px;
      color: #667085;
      font-size: 1rem;
      position: relative;

      > svg {
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;
      }
    }

    > a:hover {
      color: #e42313 !important;
      text-decoration: none !important;
      background-color: #f2f4f7;

      > svg {
        transform: rotate(180deg);
      }
    }
  }

  .navigationGridOverlay {
    position: absolute;
    top: 96px;
    grid-column: full-width;
    opacity: 0.35;
    z-index: 1;
    min-height: 200vh !important;
  }

  .navigationGridSearchOverlay {
    position: fixed;
    top: 0;
    grid-column: full-width;
    opacity: 0.35;
    z-index: 2;
    min-height: 200vh !important;
  }
}

.DesktopDropdownNavigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 48px;
  z-index: 2;

  > div a:hover {
    text-decoration: none !important;
    background-color: #f9fafb;
  }

  > div a:hover * {
    color: red !important;
  }
}
